<div class="container">
  <div class="avatar-side" style="width: 80%">
    <div style=" padding-left: 20px">
      <div style="position: relative;">
        <img class="avatar-pics" src="../../assets/img/avatar.png" alt="">
        <div class="avatar-text">
              <span class="avatar-head">
                Keypressingmonkey
              </span>
          <p class="avatar-cap">
            Jan 13 · 5 min read
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4" style="position: relative">
    <ul style="display: inline;padding:0">
      <li style="display: inline"><i class="fa fa-facebook" style="color: darkgrey;"></i>
      </li>

      <li style="display: inline"><i class="fa fa-twitter" style="color: darkgrey"></i>
      </li>

      <li style="display: inline"><i class="fa fa-instagram" style="color: darkgrey"></i>
      </li>
    </ul>
  </div>
</div>


