<footer>
    <div class="container">
      <div class="row text-center padding">
        <div style="margin-top: 30px" class="col-md-4">
          <h5 class="footer-head">Learn more.</h5>
          <p class="footer-desc">Medium is an open platform where 170 million readers come to find insightful and dynamic thinking. Here,
            expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface.
            Learn more</p>
        </div>

        <div style="margin-top: 30px" class="col-md-4">
          <h5 class="footer-head">Make Medium Yours.</h5>
          <p class="footer-desc">Follow the writers, publications, and topics that matter to you, and you’ll see them on your homepage and
            in your inbox. Explore</p>
        </div>

        <div style="margin-top: 30px" class="col-md-4">
          <h5 class="footer-head">Share your thinking.</h5>
          <p class="footer-desc">If you have a story to tell, knowledge to share, or a perspective to offer — welcome home. It’s easy and
            free to post your thinking on any topic. Write on Medium</p>
        </div>



        <div class="col-12">
          <hr class="new4">
          <nav class="navbar navbar-light  justify-content-between">
            <a class="navbar-brand">
              <img class="logo"  src="../../assets/img/footer-logo.png" alt="">
            </a>
            <form class="form-inline">
              <a href="" style="margin-right: 20px;">About</a>
              <a href="" style="margin-right: 20px;">Help</a>
              <a href="" style="margin-right: 20px;">Legal</a>
            </form>
          </nav>
        </div>
      </div>
    </div>
  </footer>
