<div class="container ">
  <div id="parent-16" style="margin-top: 50px">
    <h4 class="more-head">More From Medium</h4>
    <hr>
    <div class="row">
      <div class="first-side   col-sm-12 col-md-6 col-lg-3" style=" padding-left: 15px">
        <div>
          <h6>6 YAML Features most programmers don’t know</h6>
          <p class="lorem-desc">Martin Thoma in Level Up Coding </p>
          <br>
          <h6>Speed up Dart/Flutter with Futures, Streams and StreamTransformers</h6>
          <p class="lorem-desc">M de Kuijper in Level Up Coding</p>
        </div>
      </div>

      <div class="sec-side col-sm-12 col-md-6 col-lg-3" style="">
        <div style="position: relative;">
          <img class="more-pics" src="../../assets/img/lights.png" alt="">
          <div class="more-text">
            <h6>21 Python Mini Projects With Code</h6>
            <p class="lorem-desc">Abhay Parashar in Level Up Coding
            </p>
          </div>
        </div>

        <div style="margin-top: 40px; ">
          <div style="position: relative;">
            <img class="more-pics" src="../../assets/img/stars.png" alt="">
            <div class="more-text">
              <h6>21 Python Mini Projects With Code</h6>
              <p class="lorem-desc">Abhay Parashar in Level Up Coding
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="third-side col-sm-12 col-md-6 col-lg-3" style=" padding-left: 50px">

        <div style="position: relative;">
          <img class="more-pics" src="../../assets/img/lights.png" alt="">
          <div class="more-text">
            <h6>21 Python Mini Projects With Code</h6>
            <p class="lorem-desc">Abhay Parashar in Level Up Coding
            </p>
          </div>
        </div>


        <div style="margin-top: 40px;">
          <div style="position: relative;">
            <img class="more-pics" src="../../assets/img/stars.png" alt="">
            <div class="more-text">
              <h6>21 Python Mini Projects With Code</h6>
              <p class="lorem-desc">Abhay Parashar in Level Up Coding
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="fourth-side col-sm-12 col-md-6 col-lg-3" style=" padding-left: 50px">

        <div style="position: relative;">
          <img class="more-pics" src="../../assets/img/lights.png" alt="">
          <div class="more-text">
            <h6>21 Python Mini Projects With Code</h6>
            <p class="lorem-desc">Abhay Parashar in Level Up Coding
            </p>
          </div>
        </div>


        <div style="margin-top: 40px;">
          <div style="position: relative;">
            <img class="more-pics" src="../../assets/img/stars.png" alt="">
            <div class="more-text">
              <h6>21 Python Mini Projects With Code</h6>
              <p class="lorem-desc">Abhay Parashar in Level Up Coding
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
