<div class="container">
  <nav class="navbar navbar-light  justify-content-between">
    <a class="navbar-brand">
      <img style="width: 50px" src="../../assets/img/Pakistan-icon.png" alt="">
    </a>
    <form class="form-inline">
      <a href="" style="margin-right: 20px;">Sign In</a>
      <button type="button" class="btn btn-outline-primary">Get Started</button>
    </form>
  </nav>
</div>
<app-sub-navbar></app-sub-navbar>
<app-banner-card></app-banner-card>
<app-title-desc></app-title-desc>
<app-avatar-card></app-avatar-card>
<app-banner-pic></app-banner-pic>
<app-content></app-content>
<app-more-section></app-more-section>
<app-footer></app-footer>
