.desc{
  margin: 20px 200px 20px 200px;
  color: grey;
  font-size: 20px;
}

.title{
  font-size: 48px;
  margin: 50px 200px 20px 200px;
}


@media screen and (max-width: 991px) {
  .title{
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .desc{
    margin: 0 !important;
    margin-top: 20px !important;
  }
}
